.contact_container {
  width: 400px;
  height: 200px;
  border: 1px solid #393939;
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 5px;
}
.contact_input_containers {
  display: flex;
  margin: 20px 0px 0px 20px;
  text-align: center;
}

.input_align {
  margin-left: 14px;
  background-color: #252525;
  outline: none;
  color: white;
  border: none;
  width: 128px;
  height: 25px;
}

.select_drop {
  background-color: #252525;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  width: 65px;
  height: 35px;
}
